<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
</head>

<body>

<h2>DevOps Calculator App</h2>

<form method="POST">

<input type="number" name="num1" placeholder="Number 1">

<input type="number" name="num2" placeholder="Number 2">

<select name="operation">
<option value="add">Add</option>
<option value="sub">Subtract</option>
<option value="mul">Multiply</option>
<option value="div">Divide</option>
</select>

<button type="submit">Calculate</button>

</form>

<h3>Result: {{ result }}</h3>

</body>
</html>
